body {
  background: white;
}
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-main {
  padding-top: 0;
}
.services {
  text-align: left;
}
.box-model h2 {
  font-weight: 700;
}
