.page-12 {
  background: #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: white;
  justify-content: flex-start;
  padding: 150px 0;
}
.text-area {
  align-items: center;
}
.text-area p {
  color: #777;
  margin: 20px 0;
}
.graphic-boxes {
  display: flex;
  max-width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.progress-bar {
  width: 420px;
  height: 20px;
  background: #f0f0f0;
  border: none;
}
.progress-bar-fill {
  width: 0;
  display: block;
  height: 20px;
  background: #498af3;
}
.box-model {
  flex-direction: column;
  padding: 0;
  margin: 25px 0;
}
