.container {
  background: white;
  justify-content: flex-start;
}

.product-logo {
  margin: 60px auto;
}

.list-head {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.grey-box-contain .active {
  background: #565d67;
}
.grey-box:hover {
  background: #565d67;
}
.grey-box:nth-child(5) {
  margin-right: 0;
}
.grey-box svg {
  width: 55px;
  height: 45px;
  fill: white;
}
.box-model {
  flex-direction: column;
  padding: 0;
}
.text-bar {
  width: 100%;
  align-items: flex-end;
}
.text-bar h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
.text-bar p {
  font-size: 18px;
}

footer {
  text-align: center;
}

button {
  margin: 60px 0 80px 0;
}
