body {
  background: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
}

.grey-disc {
  display: inline-block;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #cdcdcd;
  border: none;
  margin-right: 50px;
}
